body {
    min-width: 960px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 24px;
    background: #000 url('../img/main-bg.jpg') no-repeat center top;
    margin: 0;
}

body.inner-cat {
    background: #f8f5f2 url(../img/main-block-bg.jpg);
}

h1, .index-content-title {    
    font-size: 30px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-navigation {
    width: 780px;
    float: left;
}

.main-navigation a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
}

.main-navigation a:hover {
    background-color: #242424;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.user-block {
    max-width: 140px;
    float: right;
}


.user-block a.login {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    padding: 25px 20px 25px 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.user-block a.login:hover {
    background-color: #242424;    
}

.user-block a.login::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background: transparent url('../img/sprite.png') -94px -10px no-repeat;
    top: 28px;
    left: 20px;
    opacity: 0.3;
}

.user-block a.login:hover::before {
    opacity: 1;
}

.main-header {
    margin-bottom: 60px;
    color: #fff;
    background-color: #000;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    float: left;
    margin-right: 20px;
    text-align: center;
}
.features-item:last-child {
    margin-right: 0;
}

.feature-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 35px;
}

.feature-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #fff;
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000;
    background: url(../img/bg-shadow.png) no-repeat center, #f8f5f2 url(../img/main-block-bg.jpg);
}

.index-content-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 25px;
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview  li {
    margin-bottom: 25px;
}

.news-preview time {
    text-transform: none;
    font-weight: normal;
}

.btn {
    text-align: center;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    display: inline-block;
    vertical-align: top;
    padding: 10px 33px;
    margin-right: 16px;
}

.btn:active, 
.btn:hover {    
    background-color: #663d15;
}

.btn.disabled, 
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover, 
.btn:disabled:hover {
    background-color: #000;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #ccc;
    border: 7px solid #fff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 140px;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    background-color: #f9f6f3;
    border: 2px solid black;
    outline: none;
    text-transform: inherit;
    font: inherit;
    color: #000;
    font-weight: inherit;
    width: 106px;
    padding: 7px 15px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.appointment-form input:focus {
    border-color: #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #222222 url(../img/footer-bg.jpg);
}


.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a {
    color: #fff;
} 

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    background: #000 url(../img/sprite.png) no-repeat center;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    /* transition: background-position 0.5s, background-color 0.5s; */
}

.social-btn:hover {
    background: #fff url(../img/sprites-black.png);
}

.social-btn-vk {
    background-position: -1px -39px;
}

.social-btn-fb {
    background-position: -79px -36px;
}

.social-btn-inst {
    background-position: -42px -0px;
}

.social-btn-vk:hover {
    background-position: -43px 3px;
}

.social-btn-fb:hover {
    background-position: 5px -41px;
}

.social-btn-inst:hover {
    background-position: 2px 0px;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000;
    background: #fff;
}

.inner-container, .inner-page-nav {
    margin-bottom: 55px;
}

.inner-container .menu {
    float: left;
    width: 780px;
}

.inner-single-item {
    padding-bottom: 50px;
}

.inner-single-item .images {
    float: left;
    width: 480px;
}

.inner-single-item .images-main-photo {
    margin-bottom: 20px;
}

.inner-single-item .images-thumbs img {
    float: left;
    width: 140px;
    margin-right: 20px;
}

.inner-single-item .images-thumbs img:last-child {
    margin-right: 0;
}

.inner-single-item .item-text {
    float: left;
    margin-left: 70px;
    width: 390px;
}

.head-text span:first-child {
    float: left;
    width: 150px;
}

.head-text span:last-child {
    float: right;
    width: 220px;
}

.inner-items-filter {
    float: left;
    width: 230px;
    margin-right: 10px;
}

.inner-items-list {
    float: right; 
    width: 700px;
}

.inner-items-cards {
    margin-bottom: 20px;
}

.inner-items-cards:last-child {
    margin-bottom: 45px;
}

.inner-items-cards .card {
    float: left;
    width: 220px;
    margin-left: 20px;
}

.inner-items-cards .card:first-child {
    margin-left: 0;
}

.inner-items {
    padding-bottom: 50px;
}

.inner-items-filter fieldset {
    margin-bottom: 45px;
}

.inner-container {
    background: #000;
}

.inner-navigation a {
    color: #fff;
    text-decoration: none;
}
.inner-navigation {
    float: left;
}

.inner-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.inner-navigation li {
    display: inline-block;    
    vertical-align: top;
    font-size: 16px;
    line-height: 1.3;
}

.inner-navigation a {
    display: block;
    padding: 25px 20px;
}

.inner-navigation a:hover {
    background-color: #242424;
}

.inner-navigation .selected a {
    position: relative;
}

.inner-navigation .selected a::after {
    content: "";
    border-bottom: #fff 3px solid;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
}

.inner-header-logo {
    float: left;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 19px;
}

.inner-page {
    color: #000;
}

.breadcrumbs {
    font-size: 0;
    padding: 0;
    margin: 0;
}

.breadcrumbs a {
    color: #000;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: #aba9a7;
}

.breadcrumbs li {
    display: inline-block;
    position: relative;
    vertical-align: top;   
    font-size: 14px;
    line-height: 1.3;
    color: #aba9a7;
    margin-left: 20px;
    padding-right: 20px;
}

.breadcrumbs a::before {
    content: "";
    position: absolute;
    right: 0;
    margin-top: 5px;
    width: 7px;
    height: 7px;
    background-color: #000;
    transform: rotate(45deg);
}

.breadcrumbs li:first-child {
    margin-left: 0;
}

.breadcrumbs li:last-child {
    padding-right: 0;
}

.item-text {
    font-size: 14px;
    line-height: 1.3;
}

.head-text {
    margin-bottom: 35px;
}

.head-text span:last-child {
    text-align: right;
    color: #aba9a7;
}

.main-text {
    margin-bottom: 40px;
}

.bye {
    font-size: 0;
    margin-bottom: 65px;
}

.price {
    font-size: 14px;
    line-height: 1.3;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e5e5e5;
}

.add-to-basket {
    font-size: 14px;
    line-height: 1.3;
    margin-right: 0;
}


.contents b {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 35px;
    display: block;
}

.contents ul {
    margin: 0;
    padding: 0;
    margin-left: 2px;
    list-style: none;
    line-height: 24px;
}

.contents li {
    position: relative;
    padding-left: 20px;
}

.contents li::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #000;
    transform: rotate(45deg);
    margin-top: 8px;
    left: 0;
}

.images img {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #fff;
}

.card {    
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #fff;
    min-height: 290px;
    font-size: 0;
}

.card a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.card a:hover {
    color: #aba9a7;
}
.card .add-to-basket:hover {
    color: #fff;
}

.card .add-to-basket {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
}

.card div {
    margin-left: 15px;
    margin-bottom: 12px;
}

.card .category, .card .title {
    display: block;
    line-height: 18px;
}

.card .price {
    margin-left: 15px;
}

.inner-items-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.inner-items-pagination li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    width: 43px;
    height: 43px;
    text-align: center;
    background-color: #000;
    margin-right: 7px;
    cursor: pointer;
}

.inner-items-pagination li > * {
    position: absolute;
    top: 13.5px;
    left: 0;
    right: 0;
}

.inner-items-pagination li.selected {
    background-color: #fff;
    cursor: default;
}

.inner-items-pagination a {
    color: #fff;
    text-decoration: none;
}

.inner-items-pagination li:hover {
 background-color: #663d15;
}

.inner-items-pagination li.selected:hover {
    background-color: #fff;    
}

.inner-items-filter legend {    
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
    display: block;
    padding: 0;
}
.inner-items-filter label {
    display: block;
}

.inner-items-filter fieldset {
    border: none;
    padding: 0;
}