body {
    font-family: "PTSans", "NarrowBold", "Arial", serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    line-height: 24px;
}

h1, .index-content-title {    
    font-size: 30px;
}

.feature-name {
    font-size: 30px;
    color: white;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-navigation {
    width: 780px;
    float: left;
}

.user-block {
    width: 140px;
    float: right;
}

.main-header {
    margin-bottom: 60px;
}

.index-logo {
    width: 204px;
    width: 368px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}


.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-social {
    float: left;
    width: 180px;
}

.footer-copyright {
    float: right;
    width: 180px;
}

.inner-container, .inner-page-nav {
    margin-bottom: 55px;
}

.inner-container .menu {
    float: left;
    width: 780px;
}

.inner-single-item {
    padding-bottom: 50px;
}

.inner-single-item .images {
    float: left;
    widows: 480px;
}

.inner-single-item .images-main-photo {
    margin-bottom: 20px;
}

.inner-single-item .images-thumbs img {
    float: left;
    width: 140px;
    margin-right: 20px;
}

.inner-single-item .images-thumbs img:last-child {
    margin-right: 0;
}

.inner-single-item .item-text {
    float: left;
    margin-left: 70px;
    width: 390px;
}

.head-text span:first-child {
    float: left;
    width: 150px;
}

.head-text span:last-child {
    float: right;
    width: 220px;
}

.inner-items-filter {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.inner-items-list {
    float: right; 
    width: 700px;
}

.inner-items-cards {
    margin-bottom: 20px;
}

.inner-items-cards:last-child {
    margin-bottom: 45px;
}

.inner-items-cards .card {
    float: left;
    width: 220px;
    margin-left: 20px;
}

.inner-items-cards .card:first-child {
    margin-left: 0;
}

.inner-items {
    padding-bottom: 50px;
}

.inner-items-filter fieldset {
    margin-bottom: 45px;
}